<section class="contact">
    <header>
        <h3>Adres</h3>
    </header>
    <dl class="main-address">
                                                        <dt >Powstańców Śląśkich 80b,<br> 01-466 Warszawa</dt>
                                                    </dl>
     <div class="extra-wrap">
                                                                <h3 class="p0">Godziny otwarcia:</h3>
                                                            </div>
          
                                        <p class="color-1 p1"><strong>Poniedziałek - Piątek: 9:00 - 17:00</strong></p>
                                        <p class="color-1 p1"><strong>Sobota: 10:00 - 14:00</strong></p>
                                        <p class="color-1 p0">Dojazd do klienta</p>
                                        <p class="color-1 p0">Instalacje na terenie całego kraju</p>
</section>
<section class="contact">
    <header>
        <h3>Telefon</h3>
    </header>
    <p>
        <span class="label">Tel:</span>
        <span>601-20-30-40</span>
    </p>
    <p>
        <span class="label">Tel:</span>
        <span>22 665 99 66 </span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Kontakt:</span>
        <span><a href="mailto:autozam@autozam.pl">autozam@autozam.pl</a></span>
    </p>
   
</section>
<div class="clearfix"></div>
